body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: normal;
}

a, body, html {
    color: darkgrey;
    height: 100%;
    margin: 0;
    line-height: 1.5;
}

/* Navbar */

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    top: 0;
    box-shadow: 0 7px 7px -7px rgba(0, 0, 0, .2);
    /* z-index: 0; */
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: lightblue;
    color: white;
}

/* Parallax Pictures */

.coverpic, .sectionpic1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Home Pic*/

.coverpic {
    background-image: url('rainbow-ombre2.jpeg');
    height: 100%;
}

/* Portfolio Pic*/

.sectionpic1 {
    background-image: url('rainbow-ombre2.jpeg');
    min-height: 400px;
}

/* Title Text */

.title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    letter-spacing: 10px;
    text-shadow: 3x 3px 8px #000000;
    padding: 12px;
    border: 12px solid white;
}

/* Text Container */

.text-container {
    max-width: 980px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.text-inner-container {
    max-width: 980px;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section-container {
    max-width: 980px;
    margin: auto;
}

.footer-container {
    color: white;
    background-color: gainsboro;
    padding-top: 64px;
    padding-bottom: 64px;
}

.center {
    text-align: center;
}

/* GAME iFRAME */

iframe {
    border: 0;
}

/* More Button */

.button {
    display: inline-block;
    background-color: gainsboro;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Social Media Buttons */

.fa {
    color: #fff;
    background: lightblue;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
    padding-top: 12px;
    margin: 0 2px;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.fa:hover {
    background: #c4e3ed;
}

/* Footer Return Home Arrow */

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

/* Turn Off Parallax Effect On Mobile */

@media only screen and (max-device-width: 1024px) {
    .coverpic, .sectionpic1, sectionpic2 {
        background-attachment: scroll;
    }
}